.boxes {
    border: 3px solid lightgrey;
    position: relative;
    bottom: -3rem
}

.box {
    width: 5rem;
    height: 5rem;
}

.box1 {
    background-color: gold;
}

.box2 {
    background-color: tomato;
    height: 1.5rem;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
}

.box3 {
    background-color: dodgerblue;
}

body {
    height: 200vh;
}