body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
  
.card {
    background: white;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra estilizada */
    text-align: center;
}
  
.card-image {
    width: 100%;
    height: auto;
}
  
.card-title {
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px;
    color: #333;
    border-top: 1px solid #ddd;
}
  